body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    padding: 20px;
}

.container {
    margin: auto;
    width: 60%;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

#qrcode {
    margin-top: 20px;
}

h1 {
    color: #333;
}
